.titulo{
    border: 2px solid rgb(255, 0, 0);
    text-align:center;
    font-size:  12px;
    background-color:rgb(184, 62, 82);
    
}

.main{
    background-color:rgb(0, 0, 0);
    width: 100%;
    overflow:auto;
}
 
.submain1{
    width: 50%;
    height: 150px;
    float: left;
    background-color:rgb(45, 61, 204);

}

.submain1 div{
    height: 75px;
}

.submain2{
    width: 50%;
    height: 150px;
    background-color:rgb(27, 182, 105);
}


